!!!
%html
  %head
    %script{type: "text/javascript", src: "https://cdn.tremendous.com/embed/v2.5.1/client.js"}
    %title Demo | Tremendous Embed

  %body
    %h1 Tremendous Embed Demo
    %a{href: '/pre-created'} Hosted redemption experience for a reward created via the API
    %br
    %br
    %a{href: '/real-time'} Hosted redemption experience for reward created on-the-fly
