!!!
%html
  %head
    %title Demo | Tremendous Embed

  %body
    %h1 Tremendous Embed Demo
    %a{href: '/pre-created'} Hosted redemption experience for a reward created via the API
    %br
    %br
    %a{href: '/real-time'} Hosted redemption experience for reward created on-the-fly (to be deprecated in version 5.0.0)
    %br
    %br
    %a{href: '/real-time-jwt'} Hosted redemption experience for reward created on-the-fly using JWT (recommended)
