!!!
%html
  %head
    %script{type: "text/javascript", src: "https://cdn.tremendous.com/embed/v3.1.0/client.js"}
    %title Pre-created reward example | Tremendous Embed

  %body
    %a{href: "/"} Home
    %h1 Embed for a previously created reward
    %p This page demonstrates a reward that was created previously via an API call.
    %p
      The server-side code to generate this page created a reward using the Tremendous API.
      Here's the order object:
    %pre
      = created_order
    %a#launchpad{href: '#'}
      Click me to redeem

    :javascript
      document.addEventListener("DOMContentLoaded", function() {
        var client = Tremendous("#{tremendous_client_id}", {
          domain: Tremendous.domains.SANDBOX
        });

        function redeem() {
          client.reward.open(
            // reward token
            "#{reward_token}",
            {
              onLoad: function() {
                console.log("User loaded modal");
              },
              onExit: function() {
                console.log("User exited modal");
              },
              onError: function(err) {
                console.log(err);
              },
              onRedeem: function(rewardId, orderId) {
                // Approval not required here, since the reward was created via the API.
                console.log("User redeemed:", rewardId, orderId);
              }
            }
          );

        }

        document.querySelector("a#launchpad").addEventListener("click", redeem);
      });
