!!!
%html
  %head
    %script{type: "text/javascript", src: "https://cdn.tremendous.com/embed/4.1.0/client.js"}
    %title Reward created in real-time example | Tremendous Embed

  %body
    %a{href: "/"} Home
    %h1 Embed for an uncreated reward
    %p This demonstrates the flow for a reward that hasn't been created yet. The reward is created in real-time via the embed after the recipient redeems. It requires approval by your application.

    %a#launchpad{href: '#'}
      Click me to redeem

    :javascript
      document.addEventListener("DOMContentLoaded", function() {
        var client = Tremendous({
          domain: Tremendous.domains.SANDBOX,
        });

        function redeem() {
          // You should upload an RSA public key and use its ID here.
          // The JWT should be signed with the corresponding private key.
          // Its encoded contents should mirror the same "Order" object that's
          // used in the [REST API](https://www.tremendous.com/docs).
          var order = {
            key_id: "#{key_id}", // So we can verify your identity
            jwt: "#{jwt}", // So we can decode the order
          }

          client.reward.create(
            order,
            {
              onLoad: function() {
                console.log("User loaded modal");
              },
              onExit: function() {
                console.log("User exited modal");
              },
              onError: function(err) {
                console.log(err);
              },
              onRedeem: function(rewardId, orderId) {
                console.log("User redeemed:", rewardId, orderId);
                fetch('/approve-reward', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ reward_id: rewardId })
                }).then(() => console.log("Reward approved on server.")).catch(() => alert("An error occurred."));
              }
            }
          );

        }
        document.querySelector("a#launchpad").addEventListener("click", redeem);
      });
